n8n-config/workflows/UbuP6zIOauqrCHPQ.json
{
  "updatedAt": "2026-06-12T12:00:17.073Z",
  "createdAt": "2026-06-11T09:42:41.916Z",
  "id": "UbuP6zIOauqrCHPQ",
  "name": "Agristack",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/v1/webhooks/v1/dpi-ingress",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "66bb24ef-469d-41c0-a101-8c46857d4218",
      "name": "Webhook",
      "webhookId": "c6c6e9f1-d4f2-4d04-ac84-da3fb95bbdc2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 📑 Step 01: Universal Multi-Channel Ingress Normalizer & Consent Verification\nconst payload = $input.item.json.body || $input.item.json;\n\n\nconst session_id = payload.session_id || `sess_${Math.random().toString(36).substring(2, 9)}`;\nconst channel_type = payload.ingress_channel || \"IVR_VOICE\";\nconst source_phone_number = payload.source_phone_number || \"\";\n\n// Evaluate channel-specific consent indicators per specification\nlet consent_granted = false;\nif (channel_type === \"IVR_VOICE\" && payload.ivr_dtmf === \"1\") consent_granted = true;\nif (channel_type === \"WHATSAPP\" && payload.whatsapp_optin === \"I Accept and Authorize Check\") consent_granted = true;\nif (channel_type === \"USSD\" && payload.ussd_optin === \"1\") consent_granted = true;\n\nif (!consent_granted) {\n  throw new Error(`Session Aborted: Citizen explicit opt-in consent rejected on channel ${channel_type}`);\n}\n\n// 📦 Extracted Data Payload Schema (PII Scrubbed at Edge)\nconst structuredUssdData = channel_type === \"USSD\" ? {\n  farmer_id_cleartext: \"[Aadhaar Redacted]\", \n  district_name: payload.district_name || \"\",\n  crop_type: payload.crop_type || \"\"\n} : null;\n\nreturn {\n  json: {\n      session_id: session_id,\n      channel_type: channel_type,\n      source_phone_number: source_phone_number,\n      consent_granted: consent_granted,\n    ussd_collected_payload: structuredUssdData,\n    ivr_audio_stream_uri: payload.ivr_audio_stream_uri || null,\n    whatsapp_cleartext_string: payload.whatsapp_cleartext_string || null\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "8cbc5fc0-97ed-4096-af84-415e388e5b64",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        0
      ],
      "id": "68906d45-69ae-4573-bd36-c7b914c1392f",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "1438b503-22fa-48ae-955c-5f543620601b",
  "activeVersionId": "1438b503-22fa-48ae-955c-5f543620601b",
  "versionCounter": 82,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-11T09:42:41.918Z",
      "createdAt": "2026-06-11T09:42:41.918Z",
      "role": "workflow:owner",
      "workflowId": "UbuP6zIOauqrCHPQ",
      "projectId": "HGw5zWgPS0Yg21GC",
      "project": {
        "updatedAt": "2026-06-11T09:40:21.312Z",
        "createdAt": "2026-06-11T09:34:17.821Z",
        "id": "HGw5zWgPS0Yg21GC",
        "name": "Mishu Garg <mishu.garg09@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "0b6111ce-dc13-4b97-b0ee-53323e185a8d"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 2",
    "description": ""
  }
}